@charset "UTF-8";

@font-face {
  font-family: 'Futura New';
  src: url("../fonts/FuturaNewMedium-Obl.eot");
  src: local("Futura New Medium Obl") local("FuturaNewMedium-Obl");
  src: url("../fonts/FuturaNewMedium-Obl.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/FuturaNewMedium-Obl.woff2") format("woff2");
  src: url("../fonts/FuturaNewMedium-Obl.woff") format("woff");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Futura New Demi';
  src: url("../fonts/FuturaNewDemi-Obl.eot");
  src: local("Futura New Demi Obl") local("FuturaNewDemi-Obl");
  src: url("../fonts/FuturaNewDemi-Obl.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/FuturaNewDemi-Obl.woff2") format("woff2");
  src: url("../fonts/FuturaNewDemi-Obl.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Futura New';
  src: url("../fonts/FuturaNewMedium-Reg.eot");
  src: local("Futura New Medium Reg") local("FuturaNewMedium-Reg");
  src: url("../fonts/FuturaNewMedium-Reg.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/FuturaNewMedium-Reg.woff2") format("woff2");
  src: url("../fonts/FuturaNewMedium-Reg.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Futura New';
  src: url("../fonts/FuturaNewHeavy-Reg.eot");
  src: local("Futura New Heavy Reg") local("FuturaNewHeavy-Reg");
  src: url("../fonts/FuturaNewHeavy-Reg.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/FuturaNewHeavy-Reg.woff2") format("woff2");
  src: url("../fonts/FuturaNewHeavy-Reg.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Futura New';
  src: url("../fonts/FuturaNewLight-Obl.eot");
  src: local("Futura New Light Obl") local("FuturaNewLight-Obl");
  src: url("../fonts/FuturaNewLight-Obl.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/FuturaNewLight-Obl.woff2") format("woff2");
  src: url("../fonts/FuturaNewLight-Obl.woff") format("woff");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Futura New Book';
  src: url("../fonts/FuturaNewBook-Obl.eot");
  src: local("Futura New Book Obl") local("FuturaNewBook-Obl");
  src: url("../fonts/FuturaNewBook-Obl.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/FuturaNewBook-Obl.woff2") format("woff2");
  src: url("../fonts/FuturaNewBook-Obl.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Futura New';
  src: url("../fonts/FuturaNewExtraBold-Obl.eot");
  src: local("Futura New ExtraBold Obl") local("FuturaNewExtraBold-Obl");
  src: url("../fonts/FuturaNewExtraBold-Obl.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/FuturaNewExtraBold-Obl.woff2") format("woff2");
  src: url("../fonts/FuturaNewExtraBold-Obl.woff") format("woff");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Futura New Book';
  src: url("../fonts/FuturaNewBook-Reg.eot");
  src: local("Futura New Book Reg") local("FuturaNewBook-Reg");
  src: url("../fonts/FuturaNewBook-Reg.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/FuturaNewBook-Reg.woff2") format("woff2");
  src: url("../fonts/FuturaNewBook-Reg.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Futura New';
  src: url("../fonts/FuturaNewBold-Obl.eot");
  src: local("Futura New Bold Obl") local("FuturaNewBold-Obl");
  src: url("../fonts/FuturaNewBold-Obl.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/FuturaNewBold-Obl.woff2") format("woff2");
  src: url("../fonts/FuturaNewBold-Obl.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Futura New';
  src: url("../fonts/FuturaNewExtraBold-Reg.eot");
  src: local("Futura New ExtraBold Reg") local("FuturaNewExtraBold-Reg");
  src: url("../fonts/FuturaNewExtraBold-Reg.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/FuturaNewExtraBold-Reg.woff2") format("woff2");
  src: url("../fonts/FuturaNewExtraBold-Reg.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Futura New';
  src: url("../fonts/FuturaNewLight-Reg.eot");
  src: local("Futura New Light Reg") local("FuturaNewLight-Reg");
  src: url("../fonts/FuturaNewLight-Reg.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/FuturaNewLight-Reg.woff2") format("woff2");
  src: url("../fonts/FuturaNewLight-Reg.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Futura New Demi';
  src: url("../fonts/FuturaNewDemi-Reg.eot");
  src: local("Futura New Demi Reg") local("FuturaNewDemi-Reg");
  src: url("../fonts/FuturaNewDemi-Reg.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/FuturaNewDemi-Reg.woff2") format("woff2");
  src: url("../fonts/FuturaNewDemi-Reg.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Futura New';
  src: url("../fonts/FuturaNewBold-Reg.eot");
  src: local("Futura New Bold Reg") local("FuturaNewBold-Reg");
  src: url("../fonts/FuturaNewBold-Reg.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/FuturaNewBold-Reg.woff2") format("woff2");
  src: url("../fonts/FuturaNewBold-Reg.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Futura New';
  src: url("../fonts/FuturaNewHeavy-Obl.eot");
  src: local("Futura New Heavy Obl") local("FuturaNewHeavy-Obl");
  src: url("../fonts/FuturaNewHeavy-Obl.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/FuturaNewHeavy-Obl.woff2") format("woff2");
  src: url("../fonts/FuturaNewHeavy-Obl.woff") format("woff");
  font-weight: 900;
  font-style: italic;
}

/* Экраны */

/* Цвета */

/*Общие стили*/

html body .grey {
  color: #828282 !important;
}

.fw-bolder {
  font-family: 'Futura New';
}

a {
  color: #333333;
}

.article-content ul {
  list-style: none;
}

.article-content ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}

.article-content ul li::before {
  display: grid;
  margin-top: 0.8rem;
  height: 1px;
  content: url("data:image/svg+xml;charset=utf-8,%3Csvg%20width%3D%2240%22%20height%3D%221%22%20viewBox%3D%220%200%2040%201%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cline%20y1%3D%220.5%22%20x2%3D%2240%22%20y2%3D%220.5%22%20stroke%3D%22%23828282%22%2F%3E%0A%3C%2Fsvg%3E%0A");
}

.link-like {
  cursor: pointer;
  text-decoration: underline;
}

.link-like:hover {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

[aria-expanded="false"]::after {
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
}

[aria-expanded="true"]::after {
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
}

.red {
  color: #DA5C3E !important;
}

.red * {
  color: #DA5C3E !important;
}

.dark {
  color: #333333 !important;
}

.dark * {
  color: #333333 !important;
}

.green {
  background: #219653;
}

.plain-text {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  color: #4F4F4F;
}

p {
  margin-bottom: 1.5rem;
}

.extra-big-text {
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
}

.big-text {
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
}

.medium-text {
  font-size: 18px;
  line-height: 125%;
}

.small-text {
  color: #828282;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
}

.ask-question {
  color: #DA5C3E;
  display: grid;
  gap: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-template-columns: 1fr 5fr;
  font-size: 18px;
  line-height: 125%;
}

.ask-question::before {
  display: grid;
  content: url("data:image/svg+xml;charset=utf-8,%3Csvg%20width%3D%2231%22%20height%3D%2231%22%20viewBox%3D%220%200%2031%2031%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cpath%20d%3D%22M15.4997%202.5835C12.945%202.5835%2010.4477%203.34105%208.32356%204.76035C6.19943%206.17965%204.54387%208.19696%203.56624%2010.5572C2.5886%2012.9174%202.33281%2015.5145%202.8312%2018.0201C3.3296%2020.5257%204.55979%2022.8272%206.36622%2024.6336C8.17265%2026.4401%2010.4742%2027.6702%2012.9798%2028.1686C15.4854%2028.667%2018.0825%2028.4112%2020.4427%2027.4336C22.8029%2026.456%2024.8202%2024.8004%2026.2395%2022.6763C27.6588%2020.5521%2028.4163%2018.0548%2028.4163%2015.5002C28.4163%2013.8039%2028.0822%2012.1243%2027.4331%2010.5572C26.784%208.99005%2025.8326%207.56612%2024.6331%206.3667C23.4337%205.16728%2022.0098%204.21584%2020.4427%203.56672C18.8756%202.9176%2017.1959%202.5835%2015.4997%202.5835ZM15.4997%2025.8335C13.4559%2025.8335%2011.4581%2025.2275%209.75879%2024.092C8.05948%2022.9566%206.73503%2021.3427%205.95293%2019.4546C5.17082%2017.5664%204.96619%2015.4887%205.3649%2013.4842C5.76361%2011.4798%206.74777%209.63853%208.19291%208.19339C9.63805%206.74825%2011.4793%205.7641%2013.4837%205.36538C15.4882%204.96667%2017.5659%205.1713%2019.4541%205.95341C21.3422%206.73551%2022.9561%208.05996%2024.0915%209.75927C25.227%2011.4586%2025.833%2013.4564%2025.833%2015.5002C25.833%2018.2407%2024.7443%2020.8691%2022.8064%2022.8069C20.8686%2024.7448%2018.2403%2025.8335%2015.4997%2025.8335Z%22%20fill%3D%22%23DA5C3E%22%2F%3E%0A%3Cpath%20d%3D%22M15.5003%207.75009C14.3013%207.75009%2013.1514%208.22639%2012.3036%209.07421C11.4558%209.92203%2010.9795%2011.0719%2010.9795%2012.2709C10.9795%2012.6135%2011.1156%2012.942%2011.3578%2013.1843C11.6%2013.4265%2011.9286%2013.5626%2012.2712%2013.5626C12.6137%2013.5626%2012.9423%2013.4265%2013.1845%2013.1843C13.4267%2012.942%2013.5628%2012.6135%2013.5628%2012.2709C13.5628%2011.8877%2013.6765%2011.5131%2013.8894%2011.1945C14.1022%2010.8759%2014.4048%2010.6275%2014.7589%2010.4809C15.1129%2010.3343%2015.5025%2010.2959%2015.8783%2010.3706C16.2542%2010.4454%2016.5994%2010.6299%2016.8703%2010.9009C17.1413%2011.1719%2017.3258%2011.5171%2017.4006%2011.8929C17.4754%2012.2688%2017.437%2012.6583%2017.2903%2013.0124C17.1437%2013.3664%2016.8954%2013.669%2016.5767%2013.8819C16.2581%2014.0948%2015.8835%2014.2084%2015.5003%2014.2084C15.1578%2014.2084%2014.8292%2014.3445%2014.587%2014.5867C14.3447%2014.829%2014.2087%2015.1575%2014.2087%2015.5001V18.0834C14.2087%2018.426%2014.3447%2018.7545%2014.587%2018.9968C14.8292%2019.239%2015.1578%2019.3751%2015.5003%2019.3751C15.8429%2019.3751%2016.1714%2019.239%2016.4137%2018.9968C16.6559%2018.7545%2016.792%2018.426%2016.792%2018.0834V16.5851C17.8358%2016.2803%2018.7342%2015.6084%2019.3217%2014.6934C19.9092%2013.7783%2020.1461%2012.6818%2019.9888%2011.6058C19.8315%2010.5298%2019.2906%209.547%2018.4657%208.83843C17.6409%208.12987%2016.5877%207.74334%2015.5003%207.75009Z%22%20fill%3D%22%23DA5C3E%22%2F%3E%0A%3Cpath%20d%3D%22M15.4997%2023.2498C16.213%2023.2498%2016.7913%2022.6715%2016.7913%2021.9582C16.7913%2021.2448%2016.213%2020.6665%2015.4997%2020.6665C14.7863%2020.6665%2014.208%2021.2448%2014.208%2021.9582C14.208%2022.6715%2014.7863%2023.2498%2015.4997%2023.2498Z%22%20fill%3D%22%23DA5C3E%22%2F%3E%0A%3C%2Fsvg%3E%0A");
}

.phone a {
  text-decoration: none;
  font-weight: 600;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Futura New Book';
  color: #333333;
}

main {
  overflow: hidden;
}

.container {
  position: relative;
  padding-bottom: 1px;
}

.container > * {
  padding-left: 12px;
  padding-right: 12px;
}

.container--steam {
  width: 100% !important;
  max-width: 1920px;
}

.container--no-p {
  padding: 0;
}

.container--no-p > * {
  padding: unset;
}

h1,
h2,
h3,
h4,
h5,
h6,
.fn {
  font-family: 'Futura New';
}

h1 {
  font-size: 48px !important;
  font-style: normal;
  font-weight: 600 !important;
  line-height: 61px;
  letter-spacing: 0em;
  text-align: left;
}

h2 {
  font-size: 7vw !important;
  font-style: normal;
  font-weight: 600 !important;
  letter-spacing: 0em;
  text-align: left;
  line-height: 100%;
}

.h3 {
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0em;
}

.horiz-h {
  position: relative;
}

.horiz-h::before {
  position: absolute;
  top: 50%;
  left: -87px;
  content: '';
  width: 70px;
  height: 3px;
  background-color: #DA5C3E;
}

.horiz-h__subtitle {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  color: #4F4F4F;
  margin-top: 1rem;
}

.vert-h {
  position: relative;
  padding-top: 72px;
  margin-bottom: 42px;
}

.vert-h::before {
  position: absolute;
  top: 0;
  left: -87px;
  content: '';
  width: 20px;
  height: 251px;
  background-color: #333333;
}

.vert-h--red::before {
  background-color: #DA5C3E;
}

.subtitle {
  color: #4F4F4F;
  margin-top: 1rem;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
}

.back-lines {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  z-index: -1;
  gap: 280px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  top: 0;
  left: 11px;
}

.back-lines .back-line {
  height: 100%;
  width: 1px;
  background: #F2F2F2;
}

.btn {
  border-radius: 10px;
}

.btn:focus {
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

img {
  max-width: 100%;
  border-radius: 20px 0px;
}

.catalog .row {
  gap: 3rem 0;
}

.catalog .card {
  padding-right: 18px;
}

.catalog .card-body {
  max-width: 321px;
}

.card--video picture::before {
  z-index: 100;
  grid-column: 1/2;
  grid-row: 1/2;
  place-self: center;
  content: url("data:image/svg+xml;charset=utf-8,%3Csvg%20width%3D%2270%22%20height%3D%2270%22%20viewBox%3D%220%200%2070%2070%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cpath%20d%3D%22M46.5455%2033.6286L32.0102%2023.0625C31.4767%2022.6759%2030.7686%2022.6176%2030.1839%2022.9181C29.5946%2023.2163%2029.2266%2023.8219%2029.2266%2024.4765V45.6016C29.2266%2046.2631%2029.5946%2046.8664%2030.1839%2047.1646C30.4332%2047.2904%2030.7057%2047.3532%2030.9806%2047.3532C31.3393%2047.3532%2031.7027%2047.2391%2032.0102%2047.0132L46.5455%2036.4564C47.0043%2036.1187%2047.2722%2035.5969%2047.2722%2035.0425C47.2746%2034.4788%2046.9997%2033.9593%2046.5455%2033.6286Z%22%20fill%3D%22%23DA5C3E%22%2F%3E%0A%3Cpath%20d%3D%22M35.0012%200.00195312C15.6674%200.00195312%200%2015.6693%200%2035.0031C0%2054.3299%2015.6674%2069.9926%2035.0012%2069.9926C54.3303%2069.9926%2070%2054.3276%2070%2035.0031C70.0023%2015.6693%2054.3303%200.00195312%2035.0012%200.00195312ZM35.0012%2064.1529C18.9005%2064.1529%205.84673%2051.1061%205.84673%2035.0031C5.84673%2018.9071%2018.9005%205.84402%2035.0012%205.84402C51.0995%205.84402%2064.1509%2018.9048%2064.1509%2035.0031C64.1533%2051.1061%2051.0995%2064.1529%2035.0012%2064.1529Z%22%20fill%3D%22%23DA5C3E%22%2F%3E%0A%3C%2Fsvg%3E%0A ");
}

.another-products .card-body {
  padding-bottom: 0;
}

.card {
  border: none;
  background: none;
}

.card-body {
  padding: 32px 0 0 0;
}

.card-plan-title {
  font-family: 'Futura New';
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 2rem;
}

.card-plan-complect {
  font-weight: 400;
}

.card-title {
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
}

.card-title a {
  color: #333333;
}

.card-text {
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
}

.card-price {
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
}

.card--new::after {
  top: 3rem;
  position: absolute;
  content: "НОВИНКА";
  padding: 8px 16px;
  right: 2px;
  background-color: #DA5C3E;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
  color: white;
  -webkit-transition: ease-in .2s;
  -o-transition: ease-in .2s;
  transition: ease-in .2s;
}

.card--new:hover::after {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.plans .card-body {
  padding: 20px 0;
}

picture {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
}

picture > * {
  grid-column: 1/2;
  grid-row: 1/2;
}

.yellow {
  color: #F4E9BF;
}

.casual-slider picture {
  padding: 0 10px;
}

.slick-slide {
  width: 100%;
  margin: auto;
}

.slick-slide img {
  width: 100%;
}

.slick-arrow {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background: white !important;
  display: grid;
  place-items: center;
  margin: 0 10%;
  z-index: 100;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
}

.slick-arrow::before {
  grid-column: 1/2;
  grid-row: 1/2;
  color: black !important;
}

.modal-content {
  padding: 3rem 5rem;
  max-width: 70vw;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  width: 370px;
}

.modal-content .modal-body {
  color: #828282;
}

.modal-content .plain-text {
  color: #828282;
}

.modal-content h2 {
  max-width: 100%;
}

.modal-content .btn-close {
  position: absolute;
  top: 2rem;
  right: 2rem;
}

.modal-content .modal-header {
  border: none;
}

.modal-content .modal-body {
  padding-top: 4px;
  padding-bottom: 4px;
}

.modal-content form {
  margin-top: 20px;
}

.modal-content input {
  padding-left: 0 !important;
  border-radius: 0;
  border: none;
  border-bottom: 1px solid #828282;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.modal-content label {
  padding-left: 0 !important;
}

.modal-content .def__btns {
  margin-top: 3rem;
}

.modal-content .modal-close {
  cursor: pointer;
}

.modal-content .agreement {
  max-width: 260px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  font-size: 13px;
  font-style: normal;
  font-weight: 300;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
}

.gap-0 {
  gap: 0 !important;
}

@media screen and (min-width: 576px) {
  .hstack-sm {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-item-align: stretch;
        align-self: stretch;
  }

  .vstack-sm {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-item-align: stretch;
        align-self: stretch;
  }

  .gap-sm-0 {
    gap: 0rem !important;
  }

  .gap-sm-1 {
    gap: 0.25rem !important;
  }

  .gap-sm-2 {
    gap: 0.5rem !important;
  }

  .gap-sm-3 {
    gap: 1rem !important;
  }

  .gap-sm-4 {
    gap: 1.5rem !important;
  }

  .gap-sm-5 {
    gap: 3rem !important;
  }
}

@media screen and (min-width: 767.9px) {
  .casual-slider picture {
    padding: 0 20px;
  }
}

@media screen and (min-width: 768px) {
  .h3 {
    font-size: 18px;
    line-height: 23px;
  }

  .hstack-md {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-item-align: stretch;
        align-self: stretch;
  }

  .vstack-md {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-item-align: stretch;
        align-self: stretch;
  }

  .gap-md-0 {
    gap: 0rem !important;
  }

  .gap-md-1 {
    gap: 0.25rem !important;
  }

  .gap-md-2 {
    gap: 0.5rem !important;
  }

  .gap-md-3 {
    gap: 1rem !important;
  }

  .gap-md-4 {
    gap: 1.5rem !important;
  }

  .gap-md-5 {
    gap: 3rem !important;
  }
}

@media (min-width: 991.98px) {
  .container > * {
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media screen and (min-width: 992px) {
  h2 {
    max-width: 55%;
    font-size: 36px !important;
    line-height: 125%;
  }

  .w-lg-65 {
    max-width: 65%;
  }

  .hstack-lg {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-item-align: stretch;
        align-self: stretch;
  }

  .vstack-lg {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-item-align: stretch;
        align-self: stretch;
  }

  .gap-lg-0 {
    gap: 0rem !important;
  }

  .gap-lg-1 {
    gap: 0.25rem !important;
  }

  .gap-lg-2 {
    gap: 0.5rem !important;
  }

  .gap-lg-3 {
    gap: 1rem !important;
  }

  .gap-lg-4 {
    gap: 1.5rem !important;
  }

  .gap-lg-5 {
    gap: 3rem !important;
  }
}

@media (min-width: 1199.98px) {
  .container > * {
    padding-left: 72px;
    padding-right: 72px;
  }
}

@media screen and (min-width: 1200px) {
  .hstack-xl {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-item-align: stretch;
        align-self: stretch;
  }

  .vstack-xl {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-item-align: stretch;
        align-self: stretch;
  }

  .gap-xl-0 {
    gap: 0rem !important;
  }

  .gap-xl-1 {
    gap: 0.25rem !important;
  }

  .gap-xl-2 {
    gap: 0.5rem !important;
  }

  .gap-xl-3 {
    gap: 1rem !important;
  }

  .gap-xl-4 {
    gap: 1.5rem !important;
  }

  .gap-xl-5 {
    gap: 3rem !important;
  }
}

@media (min-width: 1399.98px) {
  .container > * {
    padding-left: 92px;
    padding-right: 92px;
  }
}

@media screen and (min-width: 1400px) {
  .hstack-xxl {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-item-align: stretch;
        align-self: stretch;
  }

  .vstack-xxl {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-item-align: stretch;
        align-self: stretch;
  }

  .gap-xxl-0 {
    gap: 0rem !important;
  }

  .gap-xxl-1 {
    gap: 0.25rem !important;
  }

  .gap-xxl-2 {
    gap: 0.5rem !important;
  }

  .gap-xxl-3 {
    gap: 1rem !important;
  }

  .gap-xxl-4 {
    gap: 1.5rem !important;
  }

  .gap-xxl-5 {
    gap: 3rem !important;
  }
}

@media screen and (max-width: 768px) {
  .vert-h {
    padding-top: 3rem;
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 767.9px) {
  .modal-content {
    padding: 10%;
    margin: auto;
  }
}
@supports (-webkit-appearance:none){

}

 @media screen and (min-width: 576px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (min-width: 767.9px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (min-width: 768px){

@supports (-webkit-appearance:none){

}

}

 @media (min-width: 991.98px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (min-width: 992px){

@supports (-webkit-appearance:none){

}

}

 @media (min-width: 1199.98px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (min-width: 1200px){

@supports (-webkit-appearance:none){

}

}

 @media (min-width: 1399.98px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (min-width: 1400px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (max-width: 768px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (max-width: 767.9px){

@supports (-webkit-appearance:none){

}

}
