@import "base.sass"

.header-top

    &__left
        display: flex
        place-items: left
        align-items: center

    &__right
        gap: 37px
        display: flex
        place-items: right
        align-items: center

    &__item
        gap: 37px
        display: flex
        place-items: center
        gap: 14px

    &__call
        display: flex

        gap: 20px

.header-navbar__list
    display: flex
    gap: 49px
    align-items: center
    @media screen and ( max-width: $m-xl )
        gap: 30px
        
   
.ymaps-2-1-79-ground-pane
  filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
  -webkit-filter: grayscale(100%);
.built-page
    &__description
        max-width: 660px
        box-sizing: content-box


.short-info
    margin-bottom: 125px
    @media screen and ( max-width: $m-md )
        .hstack
            place-items: start
        margin-bottom: 3rem
    .def-combo
        flex-wrap: wrap
        @media screen and ( min-width: $md )
            gap: 15px 85px

    .hstack
        gap: 100px
        @media screen and ( max-width: $m-md )
            flex-direction: column
            gap: 1rem
    .big-text
        max-width: 398px
.houses
    h2
        margin-bottom: 4rem
    &__list
        --bs-gutter-y: 70px;
        --bs-gutter-x: 40px;

.properties
    display: flex
    flex-direction: column
    gap: 9px

    .property
        font-size: 15px;
        font-weight: 400;
        line-height: 18px;

        *
            display: inline

        &-name
            color: $grey
            padding-right: 3px

        &-value
            font-weight: 400
            color: black

.card-house
    .card-title
        font-size: 24px;
        font-weight: 400;
        line-height: 29px;
        margin-bottom: 1.8rem

    .card-body
        padding-top: 0
        margin-top: 2rem
        
    .more-btn
        margin-top: 1.5rem

.more-btn
    color: $red
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    display: flex
    gap: 13px
    align-items: center
    &::after
        content: url('data:image/svg+xml;charset=utf-8,%3Csvg%20width%3D%2235%22%20height%3D%226%22%20viewBox%3D%220%200%2035%206%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cpath%20d%3D%22M35%203L30%200.113249V5.88675L35%203ZM0%203.5H30.5V2.5H0V3.5Z%22%20fill%3D%22%23DA5C3E%22%2F%3E%0A%3C%2Fsvg%3E%0A');
        display: block

.card-project
    .card-title
        font-size: 36px;
        line-height: 43px;
        letter-spacing: 0em;


    .card-title-wrapper
        display: flex
        justify-content: space-between
        align-items: start
        max-width: 500px
    .more-btn
        &::after
            content: url('data:image/svg+xml;charset=utf-8,%3Csvg%20width%3D%2284%22%20height%3D%226%22%20viewBox%3D%220%200%2084%206%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cpath%20d%3D%22M84%203L79%200.113249V5.88675L84%203ZM0%203.5H79.5V2.5H0V3.5Z%22%20fill%3D%22%23DA5C3E%22%2F%3E%0A%3C%2Fsvg%3E%0A');
            display: block
    &-price
        color: $red
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0em;

    

    .properties
        margin-top: 16px
        width: fit-content
        @media screen and ( min-width: $lg )
            gap: 3px 47px
            flex-wrap: wrap
            max-height: 80px


#map
    width: 100%;
    height: 615px;
    max-height: 90vh
    padding: 0;
    margin: 0;

    h3
        font-family: 'Futura New Book'
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 29px;
        letter-spacing: 0em;
        text-align: left;


    .ymaps-2-1-79-balloon__content
        font-family: 'Futura New Book' !important 
        padding: 23px 42px 49px 34px
        .property
            flex-wrap: wrap
        *
            max-width: 100%

        ymaps
            height: unset !important

        &>*
            width: 100%
    
    .ymaps-2-1-79-balloon
        width: 345px
        box-shadow: 0px 4px 15px 4px rgba(0, 0, 0, 0.25);

    .ymaps-2-1-79-balloon__close-button
        margin: 15px
        background-image:  url('data:image/svg+xml;charset=utf-8,%3Csvg%20width%3D%2222%22%20height%3D%2222%22%20viewBox%3D%220%200%2022%2022%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%3Cpath%20d%3D%22M12.2149%2011.001L21.7478%201.46807C22.0834%201.13244%2022.0834%200.588283%2021.7478%200.252698C21.4122%20-0.0828876%2020.868%20-0.0829305%2020.5324%200.252698L10.9995%209.78564L1.4666%200.252698C1.13097%20-0.0829305%200.586818%20-0.0829305%200.251233%200.252698C-0.0843524%200.588326%20-0.0843954%201.13248%200.251233%201.46807L9.78413%2011.001L0.251233%2020.5339C-0.0843954%2020.8695%20-0.0843954%2021.4137%200.251233%2021.7493C0.419026%2021.9171%200.638982%2022.0009%200.858939%2022.0009C1.0789%2022.0009%201.29881%2021.9171%201.46664%2021.7493L10.9995%2012.2164L20.5324%2021.7493C20.7002%2021.9171%2020.9202%2022.0009%2021.1401%2022.0009C21.3601%2022.0009%2021.58%2021.9171%2021.7478%2021.7493C22.0834%2021.4137%2022.0834%2020.8695%2021.7478%2020.5339L12.2149%2011.001Z%22%20fill%3D%22%23333333%22%2F%3E%0A%3C%2Fsvg%3E%0A')
        background-repeat: no-repeat
        background-position: 50%

    .ya-map-photo
        max-height: 139px
        margin: 20px 0 15px


.blog__pagination
    margin-top: 70px

.house

    p
        max-width: 960px
    


    &__top
        margin-top: 22px
        &-properties
            margin-top: 5rem
            margin-bottom: 3rem
            padding-left: 60px
            border-left: 1px solid black
            gap: 21px
            @media screen and ( max-width: $m-lg )
                margin-top: 3rem
            @media screen and ( max-width: $m-md )
                padding-left: 30px

        &-gallery
            margin-bottom: 57px
            .row
            
                --bs-gutter-x: 20px
                --bs-gutter-y: 20px
                a
                    display: block
                    height: 100%
                    *
                        height: 100%

                img
                    object-fit: cover

    &__block
        margin-bottom: 70px

        &::last-child
            margin-bottom: 0


.project
    .house__top
        margin-top: 62px 

    &__title
        display: flex
        justify-content: space-between
        align-items: center
        @media screen and ( max-width: $lg )
            align-items: start

            flex-direction: column
            margin-bottom: 20px
            .line
                display: none

    &__base-price
        display: flex
        gap: 21px
        align-items: center
        .line
            border-bottom: 1px solid black
            width: 85px
            height: 1px
            padding-top: 17px

        &-content
            display: flex
            flex-direction: column
            gap: 6px

        &-desc
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 17px;
            letter-spacing: 0em;
            max-width: 178px



    &__specifications
        flex-direction: row
        flex-wrap: nowrap   

    &__properties
        flex-direction: row
        gap: 20px 41px
        margin-bottom: 37px
        @media screen and ( max-width: $lg )
            flex-wrap: wrap

    &__main-photos
        a img
            width: 100%

    .fronts, .plan 
        display: flex
        @media screen and ( max-width: $m-lg )
            display: block
        margin-top: 60px

        .project__block-title
            width: 200px
            
    .plan
        margin-bottom: 110px
        @media screen and ( max-width: $md )
            margin-bottom: 50px
            
        .row
            --bs-gutter-x: 143px
            --bs-gutter-y: 35px


    &__block-title
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 29px;
        letter-spacing: 0em;
        margin-bottom: 21px

    
    &__sub-info
        position: relative
        max-width: 444px
        margin-top: 76px
        display: flex
        flex-direction: column
        gap: 31px

        .big-text
            margin-bottom: 0

        &::before
            content: url('../img/confirmation.svg')
            position: absolute
            left: -155px
            top: -134px
            z-index: -1
        @media screen and ( max-width: $m-md )
            gap: 20px

    &__price
        padding: 1px 48px 40px
        background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='white' stroke='%23E0E0E0FF' stroke-width='4' stroke-dasharray='9%2c 10' stroke-dashoffset='3' stroke-linecap='square'/%3e%3c/svg%3e");
        margin-bottom: 80px
        .project__block-title
            margin-top: -.5rem
            background: white
            padding: 0 15px
            width: fit-content
        .red-price
            margin-top: 19px
            margin-bottom: 6px
        &-desc
            max-width: 440px
            margin-top: 26px
            display: flex
            flex-direction: column
            gap: 21px



.red-price
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 29px;
    text-align: left;
    color: $red
    white-space: nowrap

.list-complect
    margin-top: 105px
    margin-bottom: 25px
    .h2
        margin-bottom: 96px
    .row
        --bs-gutter-y: 100px;
        --bs-gutter-x: 50px;
        @media screen and ( max-width: $m-md )
            --bs-gutter-y: 40px;
    &__item
        display: flex
        gap: 52px
        &-desc
            .h3
                margin-bottom: 28px
        &-text
            display: flex
            flex-direction: column
            gap: 1rem


.like-banner
    margin-top: 91px
    color: white
    background: $dark
    // max-height: 95vh
    .plain-text
        max-width: 560px
        box-sizing: content-box
    a
        color: white

    .h3
        margin-top: 98px

    .def-combo
        margin-top: 48px
        margin-bottom: 119px

    .container
        padding-top: 1px
        padding-bottom: 1px
        position: relative
        height: 100%
        &>*
            position: relative
            z-index: 10

    &__back
        width: fit-content
        top: 0
        right: 0
        height: 100%
        position: absolute !important
        z-index: 0 !important
        padding: 0 !important

        picture
            place-items: end
            img
                max-width: unset
        * 
            height: 100%

.nav-tabs
    border: none
    gap: 20px
    .nav-item button
        border-radius: 2px;
        color: $dark
        border: none
        padding: 3px 13px 5px
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        line-height: 19px;
        letter-spacing: 0em;
        text-align: left;

        &.active
            background: $dark
            color: white